@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ext5Test</title>
    <script src="~/scripts/jquery-2.1.1.js"></script>
</head>
<body>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div>
                <h2>All Departments</h2>
                <ul id="departments" />
            </div>
        </section>
    </div>
</body>
</html>

    <script>
        var apiUrl = '/api/departments';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(apiUrl)
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) }).appendTo($('#departments'));
                    });
                });
        });

        function formatItem(item) {
            return item.Id + ': ' + item.Name;
        }

    </script>
