$kitchensink-header-background-color: #003366;
$kitchensink-header-text-color: #fff;

.southContainer {
    background-color: $kitchensink-header-background-color;
	//border-bottom: 1px solid $kitchensink-header-background-color;
}